<s-time-track [usersArray]="usersArray"
              [sumOfSalary]="sumOfSalary"
              [sumOfEmployee]="sumOfEmployee"
              [searchText]="searchText"
              (getUsersCount)="getUsersCount()"
              (getUsersSalary)="getUsersSalary()"
              (onSubmit)="onSubmit()"></s-time-track>
<weather-widget></weather-widget>
