<mat-expansion-panel class="expansion-panel" title="Посмотреть погоду">
  <mat-expansion-panel-header>
    <mat-panel-title class="expansion-panel__title">
      <span>Погода</span>
    </mat-panel-title>
    <mat-panel-description class="expansion-panel__descr">
      <span class="expansion-panel__descr-title">Температура: {{this.weatherTemp | number: '1.0-0'}} </span>
      <img class="expansion-panel__icon"
           src="assets/img/icons/celsius.svg"
           alt="Celsius">
      <img class="expansion-panel__icon-weather"
           src="assets/img/icons/cloud.svg"
           alt="cloud">
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="expansion-panel__content">
    <span class="expansion-panel__content-header-title">{{this.weatherLocation}}</span>
    <img class="expansion-panel__photo"
         mat-card-image
         src="https://images.unsplash.com/photo-1500740516770-92bd004b996e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80"
         alt="Cloudy">
    <div class="expansion-panel__content-main-weather">
      <ul class="expansion-panel__content-main-weather-list">
        <li class="expansion-panel__content-main-weather-list-item">
          <span class="expansion-panel__content-temp"> Температура воздуха: {{this.weatherTemp | number: '1.0-0'}}</span>
          <img class="expansion-panel__content-temp-icon"
               src="assets/img/icons/celsius.svg"
               alt="Cloudy">
        </li>
        <li class="expansion-panel__content-main-weather-list-item">
          <span class="expansion-panel__content-temp">
      Температура по ощущениям: {{this.weatherTempFillsLike | number: '1.0-0'}}
            <img class="expansion-panel__sub-icon"
                 src="assets/img/icons/celsius.svg"
                 alt="Celsius">
          </span>
        </li>
        <li class="expansion-panel__content-main-weather-list-item">
          <span>Скорость ветра: {{this.weatherWind}} м/с</span>
        </li>
      </ul>
    </div>
  </div>
</mat-expansion-panel>
