@import 'src/assets/settings/colors';

.expansion-panel {
  position: fixed;
  top: 7px;
  right: 7%;
  width: 300px;
  z-index: 2;
  &__descr {
    position: relative;
    color: $black;
  }
  &__icon {
    width: 16px;
    &-weather {
      width: 16px;
    }
  }
  &__photo {
    margin-bottom: 10px;
    width: 300px;
  }
  &__sub-icon {
    position: absolute;
    width: 16px;
  }
  &__content {
    display: grid;
    justify-content: center;
    text-align: center;
    &-header {
      &-title {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
    &-temp {
      position: relative;
      &-icon {
       /* position: absolute;
        right: 21%;*/
        width: 16px;
      }
    }
    &-main-weather {
      display: grid;
      position: relative;
      justify-content: center;
      text-align: left;
      &-list {
        &-item {
          margin-bottom: 5px;
        }
      }
    }
  }
}
