<mat-sidenav-container [ngClass]="{'_collapse' : isCollapsed}"
                       class="container"
                       fullscreen>
  <mat-sidenav class="sidenav"
               #drawer
               mode="side"
               opened
               role="navigation">
    <div class="sidenav__profile">
      <ul class="sidenav__profile__list">
        <li class="sidenav__profile__list-item">
          <img class="sidenav__profile__photo"
               src="assets/img/logo.png"
               alt="profile-photo">
        </li>
        <li class="sidenav__profile__list-item">
          <span *ngIf="!isCollapsed"
                class="sidenav__profile__user-title">Время деньги</span>
        </li>
      </ul>
    </div>
    <mat-list class="sidenav__list">
      <mat-list-item class="sidenav__list-item"
                     title="Сотрудники"
                     routerLink='/time-track'
                     routerLinkActive='active-link'>
        <mat-icon class="sidenav__mat-icon"
                  matListIcon>alarm</mat-icon>
        <span *ngIf="!isCollapsed"
               class="sidenav__list-item-title">Сотрудники</span>
      </mat-list-item>
      <mat-list-item class="sidenav__list-item"
                     title="Настройки"
                     routerLink='/settings'
                     routerLinkActive='active-link'>
        <mat-icon class="sidenav__mat-icon"
                  matListIcon>settings</mat-icon>
        <span *ngIf="!isCollapsed"
              class="sidenav__list-item-title">Настройки</span>
      </mat-list-item>
      <mat-list-item class="sidenav__list-item"
                     title="Справочная информация"
                     routerLink='/technologies'
                     routerLinkActive='active-link'>
        <mat-icon class="sidenav__mat-icon"
                  matListIcon>code</mat-icon>
        <span *ngIf="!isCollapsed"
              class="sidenav__list-item-title">Справочная информация</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav__content">
    <mat-toolbar class="sidenav__toolbar">
      <button class="sidenav__toggle"
              type="button"
              title="Свернуть/Развернуть"
              mat-mini-fab
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle();
            isCollapsed = !isCollapsed">
        <i *ngIf="isCollapsed"
           class="material-icons">keyboard_arrow_right</i>
        <i *ngIf="!isCollapsed"
           class="material-icons">keyboard_arrow_left</i>
      </button>
      <!--<button type="button"
              class="sidenav__exit"
              mat-raised-button
              (click)="goToLogin()">
        <i class="material-icons">exit_to_app</i>
      </button>-->
      <a class="sidenav__exit"
              (click)="goToLogin()">
        <i class="material-icons _exit">exit_to_app</i>
      </a>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
  <weather-widget></weather-widget>
</mat-sidenav-container>

