@import '../../../../assets/settings/colors';

.sidenav {
  &__toolbar {
    background-color: $dark-purple;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  &__profile {
    padding: 20px 30px;
    &__photo {
      width: 50px;
    }
    &__user {
      &-title {
        display: flex;
        align-items: center;
        user-select: none;
        font-size: 20px;
        font-weight: 800;
        color: $black;
      }
      &-subtitle {
        user-select: none;
        font-size: 14px;
        color: $black;
      }
    }
    &__list {
      display: flex;
      &-item {
        display: grid;
        padding-left: 20px;
      }
    }
  }
  &__toggle {
    background-color: $white
  }
  &__list {
    &-item {
      outline: none;
      cursor: pointer;
      user-select: none;
      transition: background-color .4s;
      &:hover {
        background-color: $light-purple;
      }
      &-title {
        color: $black;
      }
    }
  }
  &__mat-icon {
    color: $black;
  }
  &__exit {
    position: fixed;
    right: 2%;
    top: 7px;
    padding: 6px;
  }
}
._collapse {
  .sidenav {
    left: 65px;
    width: 100px;
    visibility: visible !important;
    &__profile {
      display: flex;
      justify-content: flex-end;
      padding: 20px 0;
      &__photo {
        width: 25px;
      }
      &__user {
        &-title {
          font-size: 20px;
        }
        &-subtitle {
          font-size: 14px;
        }
      }
      &__list {
        display: flex;
        align-items: center;
        &-item {
          display: grid;
        }
      }
    }
    &__content {
      padding-left: 65px;
    }
  }
  .mat-list-item {
    justify-content: flex-end !important;
  }

}
.mat-list-base .mat-list-item {
  display: flex;
  justify-content: center;
}
.active-link {
  background-color: $light-purple;
}
._exit {
  font-size: 35px;
  color: white;
  cursor: pointer;
}
