@import 'src/assets/settings/colors';

.dialog-payment__wrapper {
  .download-button {
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;
  }
  .mat-dialog-title {
    position: relative;
  }
}
