<div class="dialog-payment__wrapper">
  <div mat-dialog-title
       class="dialog-payment__title-wrapper">
    <strong>Выплаты</strong>
    <a class="download-button"
       (click)="exportToWordDoc()">
      <mat-icon>cloud_download</mat-icon>
    </a>
  </div>
  <div mat-dialog-content>
    <div id="word-table">
      <span class="title">Расчётный лист за {{currentData}}</span><br><br>
      <div class="payment-list__wrapper-title">
        <span class="payment-list__title">Имя: <strong>{{this.firebaseService.userName}}</strong></span><br><br>
      </div>
      <table style="border-collapse: collapse; width: 100%;text-align: center; white-space: nowrap">
        <thead>
        <th style="border: 1px solid black;border-left: none">Месяц</th>
        <th style="border: 1px solid black;">Вид начисления</th>
        <th style="border: 1px solid black;">Дни</th>
        <th style="border: 1px solid black;">Часы</th>
        <th style="border: 1px solid black;">Сумма</th>
        <th style="border: 1px solid black;">Месяц</th>
        <th style="border: 1px solid black;">Вид удержания</th>
        <th style="border: 1px solid black;border-right: none">Сумма</th>
        </thead>
        <tr>
          <td>{{currentData}}</td>
          <td>Оклад</td>
          <td>{{this.firebaseService.workDays}}</td>
          <td>{{this.firebaseService.totalWorkHours}}</td>
          <td style="border-right: 1px solid black">{{this.firebaseService.salaryPerMonth}}</td>
          <td>{{currentData}}</td>
          <td>Аванс</td>
          <td>{{this.firebaseService.salaryAvans}}</td>
        </tr>
        <tr>
          <td>{{currentData}}</td>
          <td>Премия</td>
          <td>{{this.firebaseService.workDays}}</td>
          <td>{{this.firebaseService.totalWorkHours}}</td>
          <td style="border-right: 1px solid black">{{this.firebaseService.salaryWithBonus}}</td>
          <td>{{currentData}}</td>
          <td>Подоходный налог</td>
          <td>{{this.firebaseService.salaryPoDohod}}</td>
        </tr>
        <tr>
          <td>{{currentData}}</td>
          <td>Больничные</td>
          <td>{{this.firebaseService.disease}}</td>
          <td></td>
          <td style="border-right: 1px solid black">{{this.firebaseService.salaryBolnichni}}</td>
          <td>{{currentData}}</td>
          <td>Удержания пенсионных взносов</td>
          <td>{{this.firebaseService.salaryPensiya}}</td>
        </tr>
        <tr>
          <td>{{currentData}}</td>
          <td>Командировочные</td>
          <td>{{this.firebaseService.komandir}}</td>
          <td></td>
          <td style="border-right: 1px solid black">{{this.firebaseService.salaryKomandir}}</td>
          <td>{{currentData}}</td>
          <td>Удержания профсоюзных взносов</td>
          <td>{{this.firebaseService.salaryProfsouz}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Итого:</td>
          <td style="border-right: 1px solid black">{{this.firebaseService.salaryItog}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black">К выплате:</td>
          <td style="border-top: 1px solid black; border-right: 1px solid black">{{this.firebaseService.itogo}}</td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black"></td>
        </tr>
        <tr>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black;font-weight: 800;">Доход:</td>
          <td style="border-top: 1px solid black;font-weight: 800;">Вычеты:</td>
          <td style="border-top: 1px solid black;font-weight: 800;"></td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black;font-weight: 800;">Льготы:</td>
          <td style="border-top: 1px solid black;font-weight: 800;">Подоходный налог:</td>
          <td style="border-top: 1px solid black;font-weight: 800;">К удержанию:</td>
        </tr>
        <tr>
          <td style="border-top: 1px solid black">{{currentData}}</td>
          <td style="border-top: 1px solid black">{{this.firebaseService.salaryItog}}</td>
          <td style="border-top: 1px solid black">{{this.firebaseService.salaryVicheti}}</td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black"></td>
          <td style="border-top: 1px solid black">{{this.firebaseService.salaryPoDohod}}</td>
          <td style="border-top: 1px solid black">{{this.firebaseService.salaryVicheti}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button
            mat-flat-button
            color="warn"
            (click)="closeDialog()">Cancel
    </button>
  </div>
</div>
