<s-settings [monthListRefDecember]="monthListRefDecember"
            [monthListRefNovember]="monthListRefNovember"
            [monthListRefOctober]="monthListRefOctober"
            [monthListRefSeptember]="monthListRefSeptember"
            [monthListRefAgust]="monthListRefAgust"
            [monthListRefJuly]="monthListRefJuly"
            [monthListRefJune]="monthListRefJune"
            [monthListRefMay]="monthListRefMay"
            [monthListRefApril]="monthListRefApril"
            [monthListRefMart]="monthListRefMart"
            [monthListRefFev]="monthListRefFev"
            [monthListRefJan]="monthListRefJan"
            [monthListRefJulyOf19]="monthListRefJulyOf19"
            [monthListRefDecemberOf19]="monthListRefDecemberOf19"
            [monthListRefNovemberOf19]="monthListRefNovemberOf19"
            [monthListRefOctoberOf19]="monthListRefOctoberOf19"
            [monthListRefSeptemberOf19]="monthListRefSeptemberOf19"
            [monthListRefAgustOf19]="monthListRefAgustOf19"
            [visibility]="visibility"
            (exportExcelJan)="exportExcelJan()"
            (exportExcelFev)="exportExcelFev()"
            (exportExcelMart)="exportExcelMart()"
            (exportExcelApril)="exportExcelApril()"
            (exportExcelMay)="exportExcelMay()"
            (exportExcelJune)="exportExcelJune()"
            (exportExcelJuly)="exportExcelJuly()"
            (exportExcelAgust)="exportExcelAgust()"
            (exportExcelSeptember)="exportExcelSeptember()"
            (exportExcelOctober)="exportExcelOctober()"
            (exportExcelNovember)="exportExcelNovember()"
            (exportExcelDecember)="exportExcelDecember()"
            (exportExcelDecemberOf19)="exportExcelDecemberOf19()"
            (exportExcelNovemberOf19)="exportExcelNovemberOf19()"
            (exportExcelOctoberOf19)="exportExcelOctoberOf19()"
            (exportExcelSetmeberOf19)="exportExcelSetmeberOf19()"
            (exportExcelAgustOf19)="exportExcelAgustOf19()"
            (exportExcelJulyOf19)="exportExcelJulyOf19()"
            (multiArray)="multiArray()"
            (multiArray2)="multiArray2()"
            (multiArray3)="multiArray3()"
            (multiArray4)="multiArray4()"
            (multiArray5)="multiArray5()"
            (multiArray6)="multiArray6()"
            (multiArray7)="multiArray7()"
            (multiArray8)="multiArray8()"
            (multiArray9)="multiArray9()"
            (multiArray10)="multiArray10()"
            (multiArray11)="multiArray11()"
            (multiArray12)="multiArray12()"
            (multiArray13)="multiArray13()"
            (multiArray14)="multiArray14()"
            (multiArray15)="multiArray15()"
            (multiArray16)="multiArray16()"
            (multiArray17)="multiArray17()"
            (multiArray18)="multiArray18()"
            (onSubmitDecember)="onSubmitDecember()"
            (onSubmitNovember)="onSubmitNovember()"
            (onSubmitOctober)="onSubmitOctober()"
            (onSubmitSeptember)="onSubmitSeptember()"
            (onSubmitAgust)="onSubmitAgust()"
            (onSubmitJuly)="onSubmitJuly()"
            (onSubmitJune)="onSubmitJune()"
            (onSubmitMay)="onSubmitMay()"
            (onSubmitApril)="onSubmitApril()"
            (onSubmitMart)="onSubmitMart()"
            (onSubmitFevral)="onSubmitFevral()"
            (onSubmitJan)="onSubmitJan()"
            (onSubmitDecemberOf19)="onSubmitDecemberOf19()"
            (onSubmitNovemberOf19)="onSubmitNovemberOf19()"
            (onSubmitOctoberOf19)="onSubmitOctoberOf19()"
            (onSubmitSeptemberOf19)="onSubmitSeptemberOf19()"
            (onSubmitAgustOf19)="onSubmitAgustOf19()"
            (onSubmitJulyOf19)="onSubmitJulyOf19()"
            (toggle)="toggle()"></s-settings>
<weather-widget></weather-widget>
