<div class="s-time-track">
  <mat-card class="s-time-track__wrapper">
    <ul class="s-time-track__list">
      <li class="s-time-track__list-item">
        <span class="s-time-track__list-item-subtitle">{{firebaseService.employeesCount}}</span>
        <span style="align-self: flex-end">Всего работников</span>
      </li>
      <li class="s-time-track__list-item">
        <app-project-chart></app-project-chart>
      </li>
      <li class="s-time-track__list-item">
        <span class="s-time-track__list-item-title">{{this.sumOfSalary}} руб</span>
        <span style="align-self: flex-end">Последняя выплата</span>
      </li>
    </ul>
  </mat-card>
  <mat-card class="s-time-track__wrapper">
    <button class="s-time-track__add-btn"
            mat-button
            (click)="openDialog({})"
            mat-flat-button>Добавить сотрудника
    </button>
  <div class="form-employee-positions">
    <form class="form-employee-positions"
          [formGroup]="this.firebaseService.formPositions"
          (ngSubmit)="onSubmit.emit()">
      <input type="hidden"
             formControlName="$key">
      <input matInput
             type="text"
             min="5"
             matTooltip="Введите минимум 5 символов"
             matTooltipClass="tool"
             formControlName="name"
             placeholder="Должность"
             autocomplete="off"
             required>
      <button class="s-time-track__add-btn"
              mat-raised-button
              color="primary"
              type="submit">
        <span class="material-icons">done</span>
      </button>
    </form>
    <form class="form-employee-positions"
          [formGroup]="this.firebaseService.formProjects"
          (ngSubmit)="onSubmit.emit()">
      <input type="hidden"
             formControlName="$key">
      <input matInput
             type="text"
             min="3"
             matTooltip="Введите минимум 3 символа"
             matTooltipClass="tool"
             formControlName="name"
             placeholder="Проект"
             autocomplete="off"
             required>
      <button class="s-time-track__add-btn"
              mat-raised-button
              color="primary"
              type="submit">
        <span class="material-icons">done</span>
      </button>
    </form>
  </div>
  </mat-card>
  <mat-card class="s-time-track__wrapper">
    <form>
      <mat-form-field style="width: 100%">
        <input placeholder="Поиск"
               name="searchInput"
               #searchInput="ngModel"
               matInput
               [(ngModel)]="searchText">
      </mat-form-field>
    </form>
  </mat-card>
  <mat-card class="s-time-track__wrapper">
    <table class="s-time-track__table"
           id="myTable">
      <thead class="s-time-track__table-headers">
      <th class="s-time-track__table-headers-title"
          (click)="sortTable1(0)">Имя</th>
      <th class="s-time-track__table-headers-title"
          (click)="sortTable1(1)">Статус</th>
      <th class="s-time-track__table-headers-title"
          (click)="sortTable1(2)">Проект</th>
      <th class="s-time-track__table-headers-title"
          (click)="sortTable1(3)">Должность</th>
      <th class="s-time-track__table-headers-title"
          (click)="sortTable1(4)">Работает с</th>
      <th class="s-time-track__table-headers-title"
          (click)="sortTable1(5)">Ставка в час</th>
      <th class="s-time-track__table-headers-title"
          (click)="sortTable1(6)">Дата рождения</th>
      <th class="s-time-track__table-headers-title">Действия</th>
      </thead>
      <ng-container *ngFor="let item of usersArray">
        <tr *ngIf="filterCondition(item)"
            class="s-time-track__table-row-title">
          <td class="s-time-track__table-descr">{{item.name}}</td>
          <td class="s-time-track__table-descr">{{item.status}}</td>
          <td class="s-time-track__table-descr">{{item.project}}</td>
          <td class="s-time-track__table-descr">{{item.position}}</td>
          <td class="s-time-track__table-descr">{{item.workSince}}</td>
          <td class="s-time-track__table-descr">{{item.salaryPerHour}}</td>
          <td class="s-time-track__table-descr">{{item.dateOfBirth}}</td>
          <td class="s-time-track__table-descr">
            <a class="s-time-track__table-headers-actions"
               (click)="this.firebaseService.populateForm(item);openDialog( {})">Изменить</a> |
            <a class="s-time-track__table-headers-actions"
               (click)="onDelete(item.$key)">Удалить</a>
          </td>
        </tr>
      </ng-container>
    </table>
  </mat-card>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.46)" size = "medium" color = "#bbbbea" type = "timer" [fullScreen] = "true"><p style="color: white" > Загрузка ... </p></ngx-spinner>
