@import 'src/assets/settings/colors';

.s-time-track {
  padding: 30px 20px;
  &__wrapper {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    &-item {
      display: grid;
      text-align: center;
      &-title {
        align-self: flex-end;
        font-size: 7vh;
        font-weight: bold;
        color: $green;
        user-select: none;
      }
      &-subtitle {
        align-self: flex-end;
        font-size: 7vh;
        font-weight: bold;
        color: $dark-purple;
        user-select: none;
      }
    }
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    &-headers {
      text-align: center;
      font-size: 17px;
      padding-top: 17px;
      background-color: $dark-purple;
      color: $white;
      &-item {
        padding: 10px;
      }
      &-actions {
        cursor: pointer;
      }
      &-title {
        padding: 10px;
        cursor: pointer;
      }
    }
    &-row {
      text-align: center;
      &:nth-child(even) {
        background-color: $lighter-purple;
      }
      &-item {
        font-size: 16px;
        padding: 15px 0 15px;
      }
      &-title {
        &:nth-child(odd) {
          background-color: $light-purple;
        }
      }
    }
    &-descr {
      padding: 10px;
    }
  }
  &__add-btn {
    background-color: $dark-purple;
    color: $white;
    margin-right: 20px;
    margin-bottom: 5px;
    transition: opacity .4s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.mat-sort-header-arrow{
  color: $white;
}
.form-employee-positions {
  display: inline-flex;
}
::ng-deep .tool {
  font-size: 12px;
}
