@import 'src/assets/settings/colors';

.s-career-info {
  padding: 30px 20px;
  &__title {
    display:block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
  }
  &__wrapper {
    margin-bottom: 20px;
  }

  &__table {
    text-align: center;
  }

  &__table-description {
    display: flex;
    justify-content: space-evenly;
  }
}

._vertical {
  text-align: center;
  white-space: nowrap;
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  &:before {
    content:'';
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 20px;
}

table, td, th {
  border: 1px solid #595959;
}

td, th {
  width: 30px;
  height: 35px;
}

th {
  background-color: #7accee;
}
._input {
  border: none;
  width: 15px;
  background-color: #ffffff;
  font-size: 14px;
}
._input50 {
  border: none;
  width: 50px;
  background-color: #ffffff;
  font-size: 14px;
}
._strong {
  font-weight: 800;
}
._w20 {
  width: 20px;
}
.click {
  cursor: pointer;
}
.hideUpdateForm {
  display: none;
}
.showUpdateForm {
  display: block;
}
