@import 'src/assets/settings/colors';

.f-login {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  &__title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  &__wrapper {
    margin-top: 150px;
  }
  &__success-button {
    display: block;
    margin: auto;
    background-color: $dark-purple;
    color: $white;
    transition: opacity .4s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
._mt-15 {
  margin-top: 10px;
}

.mat-toolbar {
  display: none;
}
.mat-sidenav {
  display: none;
}
.reg-title {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 20px;
}
.reg-subtitle {
  cursor: pointer;
  color: $bg-light-blue;
}
.form {
  display: grid;
  width: 450px;
}
._click {
  cursor: pointer;
  position: absolute;
  right: -1px;
}
._mb20 {
  margin-bottom: 20px;
}
