<div class="f-login">
  <mat-card class="f-login__wrapper">
    <form class="form"
          [formGroup]="this.firebaseService.formToReg"
          (ngSubmit)="onSubmit.emit()">
      <input type="hidden"
             formControlName="$key">
      <p class="f-login__title">Регистрация</p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               autocomplete="off"
               placeholder="Email"
               required
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Имя</mat-label>
        <input matInput
               formControlName="name"
               autocomplete="off"
               placeholder="Имя"
               type="text"
               required
               minlength="8">
      </mat-form-field>
      <mat-select class="_mb20"
                  formControlName="position"
                  placeholder="Должность">
        <mat-option *ngFor="let item of positionsList"
                    [value]="item.name">{{item.name}}
        </mat-option>
      </mat-select>
      <mat-form-field class="example-full-width">
        <mat-label>Дата рождения</mat-label>
        <input matInput
               formControlName="dateOfBirth"
               autocomplete="off"
               placeholder="Дата рождения"
               type="date"
               required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Пароль</mat-label>
        <label>
          <input matInput
                 formControlName="password"
                 autocomplete="off"
                 placeholder="Пароль"
                 [type]="show ? 'text' : 'password'"
                 required
                 minlength="8">
        </label>
        <a class="_click"
           (click)="passwordShow.emit()">
          <span class="material-icons">visibility</span></a>
        <mat-hint>минимум знаков для пароля 8</mat-hint>
      </mat-form-field>
      <span class="reg-title">Вы уже зарегистрированы? <a class="reg-subtitle" (click)="goToLogin.emit()">Войти</a></span>
      <button type="submit"
              class="f-login__success-button _mt-15"
              mat-raised-button
              color="primary">Зарегистрировать
      </button>
    </form>
  </mat-card>
</div>
