@import 'src/assets/settings/colors';

.dialog-box {
  &__list {
    display: flex;
  }
  &__show-password {
    cursor: pointer;
    position: absolute;
    right: -1px;
  }
  &__form-field {
    margin-bottom: 10px;
  }
  &__selection {
    margin-bottom: 20px;
  }
  &__submit-btn {
    background-color: $dark-purple;
    color: $white;
    margin-right: 20px;
    transition: opacity .4s;
    &:hover {
      opacity: 0.5;
    }
  }
  &__close-btn {
    background-color: $red;
    color: $white;
    transition: opacity .4s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.action-buttons {
  margin-top: 45px;
}
.mat-dialog-content {
  overflow: visible;
}


