<div mat-dialog-title
     style="position: relative">
  <h3>Добавление сотрудника</h3>
</div>
<div mat-dialog-content>
  <form [formGroup]="this.firebaseService.form"
        (ngSubmit)="onSubmit()">
    <input type="hidden"
           formControlName="$key">
    <mat-list class="dialog-box__list">
      <mat-list>
        <mat-list-item>
          <mat-form-field class="dialog-box__form-field">
            <label>
              <input matInput
                     formControlName="email"
                     placeholder="Email"
                     autocomplete="off"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                     required>
            </label>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="dialog-box__form-field">
            <label>
              <input matInput
                     formControlName="password"
                     [type]="show ? 'text' : 'password'"
                     placeholder="Password"
                     autocomplete="off"
                     min="8"
                     required>
            </label>
            <a class="dialog-box__show-password"
               (click)="passwordShow()">
              <span class="material-icons">visibility</span></a>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-form-field class="dialog-box__form-field">
            <label>
              <input matInput
                     formControlName="name"
                     placeholder="Имя"
                     autocomplete="off"
                     required>
            </label>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-select class="dialog-box__selection"
                      formControlName="status"
                      placeholder="Статус">
            <mat-option *ngFor="let item of firebaseService.statuses"
                        [value]="item.name">{{item.name}}
            </mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item>
          <mat-select class="dialog-box__selection"
                      formControlName="project"
                      placeholder="Проекты">
            <mat-option *ngFor="let item of projectList"
                        [value]="item.name">{{item.name}}
            </mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item>
          <mat-select class="dialog-box__selection"
                      formControlName="position"
                      placeholder="Должность">
            <mat-option *ngFor="let item of positionsList"
                        [value]="item.name">{{item.name}}
            </mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="dialog-box__form-field">
            <label>
              <input matInput
                     formControlName="workSince"
                     placeholder="Работает с"
                     autocomplete="off"
                     type="date"
                     [min]="minDateWorkSince"
                     [max]="maxDateWorkSince"
                     required>
            </label>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="dialog-box__form-field">
            <label>
              <input matInput
                     formControlName="dateOfBirth"
                     placeholder="Дата рождения"
                     autocomplete="off"
                     type="date"
                     [min]="minDateBirth"
                     [max]="maxDateBirth"
                     required>
            </label>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="dialog-box__form-field">
            <label>
              <input matInput
                     formControlName="salaryPerHour"
                     placeholder="Ставка в час"
                     autocomplete="off"
                     type="number"
                     required
                     min="1"
                     max="20"
                     pattern="[0-9]{1,5}">
            </label>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <label>
            <input formControlName="workDays"
                   type="hidden">
          </label>
        </mat-list-item>
        <mat-list-item>
          <label>
            <input formControlName="id"
                   type="hidden">
          </label>
        </mat-list-item>
      </mat-list>
    </mat-list>
    <div class="action-buttons">
      <button mat-flat-button
              class="dialog-box__submit-btn"
              type="submit"
              (click)="closeDialog()">Добавить
      </button>
      <button mat-flat-button
              class="dialog-box__close-btn"
              (click)="closeDialog();this.firebaseService.form.reset()">Закрыть
      </button>
    </div>
  </form>
</div>
