<div class="s-technologies">
  <mat-card>
    <mat-accordion>
      <mat-expansion-panel class="_mb50">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="_blue">Как использовать Web-приложение?</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <strong>Как добавлять сотрудника?</strong>
        <p class="s-technologies__text-info _mb50">
          Для начала вам необходимо нажать на кнопку "Добавить сотрудника" на главной странице приложения
          <img src="/assets/img/info-photos/добавить.JPG/" alt="Добавление" style="width: 80%; margin: 0 auto; display: block">
        </p>
        <strong>Как добавлять сотрудника?</strong>
        <p class="s-technologies__text-info">
          Заполнить форму данными (пример на картинке) и нажать кнопку "Добавить" для добавления нового сотрудника
          <img src="/assets/img/info-photos/форма.JPG/" alt="Форма">
        </p>
        <strong>Как изменять данные?</strong>
        <p class="s-technologies__test-info _mb50">
          Для изменения данных о сотрудниках необходимо нажать на кнопку "Изменить" находящуюся в таблице напротив сотрудника<br>
          для которого требуется данное действие (пример форсы изменения представлен на рисунке выше)
        </p>
        <strong>Как добавить новую должность и проект?</strong>
        <p class="s-technologies__test-info _mb50">
          Для добавления новой должности и проекта необходимо ввести данные в текстовые поля и нажать на кнопку "Принять"
          <img src="/assets/img/info-photos/кнопки_добавить.JPG/" alt="Форма">
        </p>
        <strong>Как проверить рабочие дни сотрудников?</strong>
        <p class="s-technologies__test-info _mb50">
          Для проверки работы сотрудников необходимо перейти по вкладке навигационной панели "Настройки" и <br> выбрать интерисующий месяц для просмотра инфорамции
          <img src="/assets/img/info-photos/настройки.JPG/" alt="Табель усчета времени" style="width: 80%;margin: 0 auto; display: block">
        </p>
        <strong>Как изменить данные о рабочих днях сотрудника?</strong>
        <p class="s-technologies__test-info _mb50">
          Для изменения данных о рабочих днях сотрудника необходимо нажать на кнопку "Изменить" находящуюся в таблице, после заполнить форму данными и нажать кнопку "Принять"
          <img src="/assets/img/info-photos/изменение.JPG/" alt="изменения" style="width: 80%;margin: 0 auto; display: block">
        </p>
        <strong>Как расчитать заработную плату сотрудника?</strong>
        <p class="s-technologies__test-info ">
          Для произведения расчёта заработной платы сотрудника необходимо нажать на кнопку "Расчитать"
          <img src="/assets/img/info-photos/расчётный.JPG/" alt="изменения" style="width: 60%;margin: 0 auto; display: block">
        </p>
      </mat-expansion-panel>
      <strong class="_blue" style="text-align: center; display: block; margin-bottom: 20px">Технологии использованные во время разработки</strong>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="_blue">Angular</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="s-technologies__text">Легкий, быстрый и доступный front-end фреймворк Angular завоевал уважение у
          огромного количества
          разработчиков. Он дает возможность строить интерактивные и динамические веб-приложения, для которых требуется
          гораздо меньше усилий и кода.</p>
        <p class="s-technologies__text _blue"><strong>Так в чем же особенность Angular?</strong></p>
        <p class="s-technologies__text">Angular является структурной основой для динамических веб-приложений, которая
          позволяет использовать HTML в
          качестве языка шаблона, а затем расширить синтаксис HTML для выражения компонентов приложения. С помощью
          привязки данных и внедрении зависимости можно исключить большую часть кода, который пришлось бы писать. </p>
        <p class="s-technologies__text _blue"><strong>Ключевые факты о Angular:</strong></p>
        <ul class="s-technologies__list">
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">В качестве языка шаблона используется Typescript, который представляет собой
              язык программирования от
              Microsoft.</p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">Хотя Typescript и является основным языком для Angular, приложения можно
              также писать с помощью таких
              языков как Dart или JavaScript.</p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">Angular нацелен на разработку одностраничных приложений, то есть SPA-решений
              (Single Page Application). В
              качестве примера можно привести популярные приложения для социальных сетей (Twitter, Instagram и
              Facebook).</p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">Приложения, написанные на Angular, совместимы с различными браузерами.
              Angular автоматически обрабатывает
              код JavaScript, подходящий для каждого браузера.</p>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="_blue">Firebase</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="s-technologies__text">
          Firebase помогает быстро создавать качественные приложения, увеличивать аудиторию вовлеченных пользователей и
          повышать доходы. Платформа содержит множество полезных функций для вашего приложения, в том числе серверный
          код для мобильных сервисов, статистику, а также инструменты для монетизации и расширения аудитории.
        </p>
        <p class="s-technologies__text _blue">
          <strong>Зачем это нужно</strong>
        </p>
        <p class="s-technologies__text">
          Пакет разработчика Firebase объединяет интуитивно понятные API, избавляя вас от необходимости управлять
          отдельными пакетами. Выбирайте только то, что вам нужно, и пользуйтесь преимуществами интегрированного
          решения. Платформа, использующая инфраструктуру Google, предоставляет необходимые возможности для каждого
          этапа разработки и роста.
        </p>
        <p class="s-technologies__text _blue">
          <strong>Главные преимущества</strong>
        </p>
        <ul class="s-technologies__list">
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              <strong>Скорость работы.</strong> В пакете разработчика Firebase собраны интуитивно понятные API, которые
              упрощают и
              ускоряют разработку качественных приложений. Также в вашем распоряжении все необходимые инструменты для
              расширения пользовательской базы и повышения доходов – вам остается только выбрать подходящие для ваших
              целей.
            </p>
          </li>
          <li class="s-technologies__list">
            <p class="s-technologies__text">
              <strong>Готовая инфраструктура.</strong> Вам не придется создавать сложную инфраструктуру или работать с
              несколькими
              панелями управления. Вместо этого вы сможете сосредоточиться на нуждах пользователей.
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              <strong>Статистика.</strong> В основе Firebase лежит бесплатный аналитический инструмент, разработанный
              специально для
              мобильных устройств. Google Analytics для Firebase позволяет получать данные о действиях ваших
              пользователей и сразу же принимать меры с помощью дополнительных функций.
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              <strong>Кроссплатформенность.</strong> Firebase работает на любых платформах благодаря пакетам
              разработчика для Android,
              iOS, JavaScript и C++. Вы также можете обращаться к Firebase, используя серверные библиотеки или REST API.
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              <strong>Масштабируемость.</strong> Если ваше приложение станет популярным и нагрузка на него возрастет,
              вам не придется
              менять код сервера или привлекать дополнительные ресурсы ‒ Firebase сделает это за вас. Кроме того,
              большинство функций Firebase бесплатны и останутся такими независимо от масштаба ваших проектов. Платных
              функций четыре. В них предусмотрен бесплатный пробный период и два тарифных плана.
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              <strong>Бесплатная поддержка по электронной почте.</strong> Кроме того, команда Firebase и специалисты по
              разработке Google
              ответят на ваши вопросы на ресурсах Stack Overflow и GitHub.
            </p>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="_blue">JavaScript</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="s-technologies__text">
          JavaScript ("JS" для краткости) — это полноценный динамический язык программирования, который применяется к
          HTML документу, и может обеспечить динамическую интерактивность на веб-сайтах. Его разработал Brendan Eich,
          сооснователь проекта Mozilla, Mozilla Foundation и Mozilla Corporation.
        </p>
        <p class="s-technologies__text">
          JavaScript невероятно универсален и дружелюбен к новичкам. Обладая большим опытом, вы сможете создавать игры,
          анимированную 2D и 3D графику, полномасштабные приложения с базами данных и многое другое!
        </p>
        <p class="s-technologies__text">
          JavaScript сам по себе довольно компактный, но очень гибкий. Разработчиками написано большое количество
          инструментов поверх основного языка JavaScript, которые разблокируют огромное количество дополнительных
          функций с очень небольшим усилием. К ним относятся:
        </p>
        <ul class="s-technologies__list">
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Программные интерфейсы приложения (API), встроенные в браузеры, обеспечивающие различные функциональные
              возможности, такие как динамическое создание HTML и установку CSS стилей, захват и манипуляция
              видеопотоком, работа с веб-камерой пользователя или генерация 3D графики и аудио сэмплов.
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Сторонние API позволяют разработчикам внедрять функциональность в свои сайты от других разработчиков,
              таких как Twitter или Facebook.
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Также вы можете применить к вашему HTML сторонние фреймворки и библиотеки, что позволит вам ускорить
              создание сайтов и приложений.
            </p>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="_blue">TypeScript</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="s-technologies__text _blue">
          <strong>Небольшая выжимка в качестве описания этого языка</strong>
        </p>
        <ul class="s-technologies__list">
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Язык со строгой типизацией
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Код написанный на TypeScript компилируется в JavaScript
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Язык обратно совместим с JavaScript — если вы скормите компилятору чистый JavaScript, компилятор выплюнет
              вам ваш же JS, и не скажет что это ошибка. Можно писать смешанный код (например, модули/методы используя
              синтаксис TypeScript, а реализацию методов без типизации на чистом JS) — это тоже будет валидно.
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Язык разработан компанией Microsoft.
            </p>
          </li>
        </ul>
        <p class="s-technologies__text _blue">
          <strong>Какие возможности открывает язык</strong>
        </p>
        <ul class="s-technologies__list">
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Система для работы с модулями/классами — можно создать интерфейсы, модули, классы;
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Можно наследовать интерфейсы (в том числе множественное наследование), классы;
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Можно описывать собственные типы данных;
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Можно создавать универсальные-интерфейсы (generic interfaces);
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Можно описать тип переменной (или свойств объекта), или описать каким интерфейсом должен обладать объект
              на который ссылается переменная;
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Можно описать сигнатуру метода.
            </p>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="_blue">HTML</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="s-technologies__text">
          HTML — это язык гипертекстовой разметки, с помощью которого наши коллеги верстальщики непосредственно создают
          структуру web-страниц (одной из разновидностей которых являются лендинги) и email-писем.
        </p>
        <p class="s-technologies__text">
          Если объяснить суть данного понятия простыми и наглядными образами, то можно сказать, что HTML — это тело, а
          CSS (Cascading Style Sheets — каскадные таблицы стилей) — одежда. В то время как CSS определяет внешний вид
          web-страницы, HTML формирует ее структуру (скелет) посредством заголовков, списков и других подобных
          элементов, начиная от начала страницы — хедера, и до ее конца — футера.
        </p>
        <p class="s-technologies__text">
          Неспроста также сказано, что HTML — это язык разметки: именно метки или как их еще называют тэги (tags),
          заключенные в угловые скобки, формируют те элементы, из которых и состоит код HTML. В большинстве своем,
          элементы данного языка имеют открывающий и закрывающий тэг. От правильного (валидного) использования последних
          зависит не только адекватность структуры веб-страницы, но и правильность ее отображения интернет-браузерами.
        </p>
        <p class="s-technologies__text">
          Понятно, что существует достаточно много других тэгов, благодаря которым задаются дополнительные параметры
          структуры web-страницы. Однако даже такого краткого обзора будет достаточно для того, чтобы не растеряться,
          если вам придется столкнуться с необходимостью вникнуть в код.
        </p>
        <p class="s-technologies__text">
          Существует немало качественных интернет-ресурсов, посвященных тематике HTML и CSS. Говоря на языке
          маркетологов, можно сказать, что входящий маркетинг в этой нише достаточно хорошо развит, и при желании можно
          увеличить свои познания в данной сфере, отыскав подходящий ресурс в том числе и в русскоязычной части Сети.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="_blue">CSS</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="s-technologies__text">
          Каскадные таблицы стилей (Cascading Style Sheets = CSS) — это язык, который отвечает за визуальное
          представление документов пользователю.
        </p>
        <p class="s-technologies__text">
          Под документом мы будем понимать набор информации о структуре страницы, описываемый языком разметки.
        </p>
        <p class="s-technologies__text">
          А представление документа пользователю, в свою очередь, означает его преобразование в удобную для восприятия
          форму. Браузеры, такие как Firefox, Chrome или Internet Explorer, были созданы для визуального отображения
          документов, например, на экране компьютера, проекторе или вывода через принтер.
        </p>
        <p class="s-technologies__text _blue">
          <strong>Примеры</strong>
        </p>
        <ul class="s-technologies__list">
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Страница сайта, которую вы сейчас читаете — это документ. Структура информации, которую вы видите на
              странице, обычно описывается при помощи языка разметки HTML (HyperText Markup Language — Язык
              ГиперТекстовой Разметки)
            </p>
          </li>
          <li class="s-technologies__list-item">
            <p class="s-technologies__text">
              Диалоговые окна в компьютерных программах, также называемые модальными окнами, как правило, также являются
              документами. Такие окна могут также быть описаны с помощью языка разметки, такого как XUL (XML User
              Interface Language — XML’ный Язык Пользовательского Интерфейса), которые можно найти, например, в
              некоторых приложениях от Mozilla.
            </p>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
