@import 'src/assets/settings/colors';

.s-technologies {
  padding: 30px 20px;
  &__list {
    &-item {
      list-style: square;
    }
  }
  &__text {
    font-size: 16px;
    margin-bottom: 15px;
    &-info {
      display: flex;
      justify-content: space-between;
    }
  }
}
._blue {
  color: $dark-purple;
}
._mb50 {
  margin-bottom: 50px;
}
._white {
  color: white;
}
