<div class="f-login">
  <mat-card class="f-login__wrapper">
    <form #myForm="ngForm">
      <p class="f-login__title">Вход</p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput
               autocomplete="off"
               placeholder="Email"
               name="email"
               #email="ngModel"
               required
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
               [(ngModel)]="userData.userData.email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Пароль</mat-label>
        <input matInput
               autocomplete="off"
               placeholder="Пароль"
               name="password"
               #password="ngModel"
               [type]="show ? 'text' : 'password'"
               value=""
               required
               minlength="8"
               [(ngModel)]="userData.userData.password">
        <a class="_click"
           (click)="passwordShow.emit()">
          <span class="material-icons">visibility</span></a>
        <mat-hint>минимум знаков для пароля 8</mat-hint>
      </mat-form-field>
      <span class="reg-title">Ещё нет аккаунта? <a class="reg-subtitle"
                                                   (click)="goToReg.emit()">Зарегистрироваться</a></span>
      <button [disabled]="email.invalid || password.invalid "
              type="submit"
              class="f-login__success-button _mt-15"
              mat-raised-button
              (click)="goToProfile(myForm)">Войти
      </button>
    </form>
  </mat-card>
</div>
