<div class="chart-wrapper">
  <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [colors]="donutColors"
          [chartType]="doughnutChartType">
  </canvas>
</div>
