$white: #ffffff;
$cream-white: #f9f6e5;
$black: #383e4e;
$dark-blue: #24244e;
$dark-purple: #38386e;
$light-purple: #bbbbea;
$lighter-purple: #ECE6FF;
$green: #337a58;
$red: #FD2626;

$bg-sidenav-blue: #332b66;
$t-white: #f4ecf2;
$bg-blue: #241b48;
$bg-light-blue: #0ea4d6;

